#root {
  min-height: 100%;
  position: relative;
}
#footer {
  background-color: #24d8d8;
  padding-left: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
a {
  transition: all 0.3s ease 0s;
}
.App {
  font-family: "Jost", sans-serif;
  transition: all 1s;
  padding-bottom: 20px;
}
.App .btn-primary {
  background-color: #24d8d8;
  border-color: #24d8d8;
}
.App .btn-primary:hover {
  background-color: white;
  color: #24d8d8;
  border-color: #24d8d8;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App .nav-hide{
  top:-600px
}
.App .app-nav{
  transition: top 0.8s;
}