#root {
  min-height: 100%;
  position: relative;
}

#footer {
  background-color: hsla(180, 17%, 85%, 0.055);
}

.footer-top-hr {
  margin-top: 0px;
  padding-top: 0px;
}

#footer .container a {
  text-decoration: none;
  color: #6c757d;
  transition: all 0.3s;
}

#footer .container a:hover {
  color: #24d8d8;
  text-decoration: none;
}

#footer .container {
  padding-top: 30px;
  padding-bottom: 20px;
}

#footer .container .footer-pic {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

#footer .text-muted {
  font-weight: 500;
}

a {
  transition: all 0.3s ease 0s;
}

.App {
  font-family: "Jost", sans-serif;
  transition: all 1s;
  padding-bottom: 20px;
}

.App .btn-primary {
  background-color: #24d8d8;
  border-color: #24d8d8;
}

.App .btn-primary:hover {
  background-color: white;
  color: #24d8d8;
  border-color: #24d8d8;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App .nav-hide {
  top: -600px;
}

.App .app-nav {
  transition: top 0.5s;
  padding-left: 5%;
  padding-right: 30px;
}

.login-block,
.register-block {
  margin-top: 120px;
  margin-bottom: 70px;
}

.login-block .lead,
.register-block .lead {
  font-weight: 400;
}

.login-block .register-btn,
.register-block .login-btn {
  color: #24d8d8;
  margin-left: 10px;
}
