#flight_ticket {
  padding-top: 30px;
  padding-bottom: 35px;
}
#flightTable {
  text-align: center;
}
#flightTable .ticket-from {
  text-transform: uppercase;
}
#flightTable .ticket-to {
  text-transform: uppercase;
}
