.place-details-carousel {
  margin-top: 55px;
}
.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
  padding-left: 50px;
}
.BrainhubCarousel__arrows {
  position: absolute;
}
.BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft {
  z-index: 1;
  background-color: #fff;
  outline: none;
}
.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight {
  z-index: 1;
  right: 0;
  background-color: #fff;
  outline: none;
}
.BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft:hover {
  background-color: #24d8d8;
}
.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight:hover {
  background-color: #24d8d8;
}
.BrainhubCarousel__arrows span {
  border-color: #5d5d5d;
}
.carousel-img {
  padding: 1px;
  align-self: flex-start;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

#food-main {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}
.explore-leftside {
  max-width: calc(100% - 340px);
  display: block;
}
.explore-rightside {
  max-width: 340px;
}
.item-link {
  color: #24d8d8;
  text-decoration: none;
  border-bottom: 1px solid #24d8d8;
  margin-right: 10px;
  text-transform: uppercase;
  transition: all 0s;
}
.item-link:hover {
  text-decoration: none;
  font-weight: 600;
  color: #24d8d8;
}
.item-star {
  color: #24d8d8;
  font-size: 18px;
}
.star-rating {
  unicode-bidi: bidi-override;
  color: #ddd;
  font-size: 0;
  height: 20px;
  margin: 0 auto;
  position: relative;
  display: table;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
}

.star-rating span {
  padding: 3px;
  font-size: 18px;
}

.star-rating span:after {
  content: "★";
}

.star-rating-top {
  color: #24d8d8;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.star-rating-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.item-cost,
.item-place-type {
  position: relative;
  padding-left: 10px;
  margin-left: 8px;
}
.item-cost::before,
.item-place-type::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: #d8d8d8;
}

.item-hide {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}
.item-show {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.play {
  display: block;
  visibility: visible;
  opacity: 1;
}
.unplay {
  display: none;
}
.item-hide .inner-content {
  color: #5d5d5d;
  font-size: 18px;
  font-weight: 500;
  max-height: 130px;
  overflow: hidden;
  position: relative;
}
.item-show .inner-content {
  color: #5d5d5d;
  font-size: 18px;
  font-weight: 500;
}
.item-hide .inner-content::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  height: 50px;
}
.show-more {
  margin-top: 5px;
  color: #24d8d8;
  background-color: white;
  border: none;
}
.hide-all {
  margin-top: -10px;
  color: #24d8d8;
  background-color: white;
  border: none;
}
.show-more:hover,
.hide-all:hover {
  cursor: pointer;
}
.openhour-day {
  min-width: 140px;
  display: inline-block;
  padding-right: 30px;
}
#see-do-main .link-login,
#stay-main .link-login,
#food-main .link-login {
  color: #24d8d8;
}
.review-title-num {
  color: #aaa;
  font-weight: 500;
}
.review-star {
  color: #24d8d8;
  font-weight: 600;
}

.review-create-block {
  padding-top: 10px;
  padding-bottom: 10px;
}
.review-create-block .review-notes {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.review-create-block .review-rate {
  display: flex;
}
.review-create-block .review-rate .review-rate-title {
  font-size: 18px;
  font-weight: 500;
  color: #24d8d8;
}
.review-create-block .review-rate .review-rate-message {
  font-size: 18px;
  margin-left: 20px;
  font-weight: 500;
  color: red;
}
.rating {
  font-size: 0;
  display: table;
}
.rating > label {
  color: #ddd;
  float: right;
}
.rating > label:before {
  padding: 5px;
  font-size: 18px;
  line-height: 1em;
  display: inline-block;
  content: "★";
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #24d8d8;
}
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  opacity: 0.5;
}
#review-content {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.similar-places {
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 40px;
}

.explore-rightside .form-control {
  margin-top: 10px;
}
.explore-rightside .reservation-block {
  margin-left: 30px;
  text-align: center;
  position: sticky;
  top: 100px;
}
.explore-rightside .reservation-form {
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

#see-do-main {
  margin-top: 50px;
  margin-bottom: 20px;
}

#stay-main {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
}
.explore-rightside .book-block {
  width: 300px;
  margin-left: 60px;
  text-align: center;
  position: sticky;
  top: 100px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.explore-rightside .book-block .book-block-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  outline: none;
}
.explore-rightside .book-block .book-block-btn:focus {
  outline: none;
  background-color: #24d8d8;
  border-color: #24d8d8;
  color: white;
}
.explore-rightside .book-block .book-block-note {
  color: #aaa;
}

@media only screen and (max-width: 991px) {
  .explore-leftside {
    max-width: 768px;
    width: 100%;
  }
  .explore-rightside {
    visibility: collapse;
    width: 0;
  }
}
