#home-cityBlock {
  padding-top: 30px;
  padding-bottom: 35px;
}

#home-cityBlock .home-subtitle {
  margin-bottom: 0px;
}

#home-cityBlock .colCity {
  color: white;
  max-height: 370px;
  max-width: 270px;
  overflow: hidden;
  margin-top: 20px;
}

#home-middle {
  height: 340px;
  background-image: url(http://p1-q.mafengwo.net/s16/M00/F5/B8/CoUBUl7h9hCAFuxdAAUJnPmM5kY84.jpeg?imageMogr2%2Fstrip);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

#home-topicBlock {
  padding-top: 30px;
  padding-bottom: 50px;
}

#home-topicBlock .topic-col {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #home-middle {
    height: 200px;
  }
}
