/* homePage cityBlock */
#home-cityBlock {
  padding-top: 30px;
  padding-bottom: 35px;
}
.home-subtitle {
  margin-bottom: 0px;
}
.colCity {
  color: white;
  max-height: 370px;
  max-width: 270px;
  overflow: hidden;
  margin-top: 20px;
}

#home-middle {
  height: 340px;
  background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
#home-middle-left {
  float: left;
  height: 100%;
  width: 50%;
  border-radius: 0 5px 100% 0;
  box-shadow: 2px;
  background-color: #24d8d8;
}
#home-middle-word {
  display: block;
  margin-left: 15%;
  margin-top: 10%;
  font-size: 2em;
  color: rgba(45, 46, 18, 0.644);
}

#home-topicBlock {
  padding-top: 30px;
  padding-bottom: 50px;
}
.topic-col {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #home-middle {
    height: 200px;
  }
  #home-middle-word {
    font-size: 1.4em;
    margin-left: 15%;
  }
}
