/* homePage cityBlock */
#home-cityBlock {
  padding-top: 30px;
  padding-bottom: 35px;
}
.home-subtitle {
  margin-bottom: 0px;
}
.colCity {
  color: white;
  max-height: 370px;
  max-width: 270px;
  overflow: hidden;
  margin-top: 20px;
}

#home-middle {
  height: 340px;
  background-image: url(https://b1-q.mafengwo.net/s16/M00/B7/FC/CoUBUl8UYc-AEJAOACIVQ7cOmaI569.png?imageMogr2%2Finterlace%2F1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  padding: 0;
}

#home-topicBlock {
  padding-top: 30px;
  padding-bottom: 50px;
}
.topic-col {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #home-middle {
    height: 200px;
  }
  #home-middle-word {
    font-size: 1.4em;
    margin-left: 15%;
  }
}
